{% extends 'base.html' %}

{% block content %}

    <div class= "col-md-12">
        <h2>About</h2>
        <p>IBorrow Desk is a tool for monitoring borrow rates and availability using Interactive Broker's freely available data.</p>

        <p>I worked in finance for the past five years, with my last year or so doing a decent amount of short
        selling. One of the resources I used quite a lot was Interactive Broker's
        <a href="https://ibkb.interactivebrokers.com/tag/short-selling">Stock Loan Availability Database</a>
            especially for hard to borrow stocks.</p>

        <p>But the format was terrible (CSV files) and and overall a pain to use. So, after taking Udacity's
        <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">Full Stack Nanodegree</a>
        I figured this database would be a fun place to start building a working (maybe even useful) web app.</p>

        <p>Built in Python, I used the <a href="http://flask.pocoo.org/">Flask</a> framework and SQLAlchemy
            for the user database and postgreSQL for the borrow database. Memcached caches historical reports for
        those pesky Twitter bots. Front-end is <a href="https://bootswatch.com/flatly/">Bootswatch Flatly</a></p>

        <p>Speaking of Twitter bots, <a href="https://twitter.com/IBorrowDesk">@IBorrowDesk</a> has access to this database.
            Tweet a ticker symbol at it and it will tweet back its fee and availability!</p>

        <p>You can reach me at <a href="mailto:cameron.mochrie@gmail.com">cameron.mochrie@gmail.com</a>. The source for
        I Borrow Desk is available at <a href="https://github.com/cjmochrie/I-Borrow-Desk">GitHub</a></p>

    </div>

{% endblock %}
