<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='jasny-bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>I Borrow Desk</title>
		{% block head %}
		{% endblock %}
	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
		<script src="{{ url_for('static', filename='jasny-bootstrap.min.js')}}"></script><div class = "container">
			<div class="row page-header">
				<div class="col-sm-6">
					<h1><a href = "{{url_for('main_page')}}">I Borrow Desk</a></h1>
				</div>

				<div class="col-sm-6 text-right">
					{% if current_user.is_authenticated() %}
						<a href='{{url_for('logout')}}'>Logout </a><br>
                        <a href="{{ url_for('adminview.index') }}">Admin</a>
					{% else %}
						<a href='{{url_for('login')}}'>Login </a>
					{% endif %}
				</div>
			</div>

			<div class = "row">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div class = "col-sm-12 text-center flash">
							<ul>
								{% for message in messages %}
									<strong> {{message}} </strong><br>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
				{%endwith %}
			</div>

            <div class= "row">
		        <div class= "col-sm-3">
                    <a href = "{{ url_for('about') }}">About</a><br>
                    <a href = "{{ url_for('faq') }}">FAQ</a><br>
                    <a href="{{ url_for('register') }}">Register</a><br>
			        <a href="{{ url_for('historical_report') }}?symbol=&&real_time=">Historical Report</a><br>
					<a href="{{ url_for('filter') }}">Filter Database</a><br>
                    {% if current_user.is_authenticated() %}
                        <a href="{{ url_for('watch_list') }}">Watchlist</a><br>
                        <a href="{{ url_for('change_password') }}">Change Password</a><br>
                        <a href="{{ url_for('change_email') }}">Change Email</a>
                    {% endif %}
		        </div>
                {% block content %}
                {% endblock %}

            </div>

            <div class="row page-footer">
				<div class="col-sm-12 text-center">
					This toy webapp is not affiliated with Interactive Brokers in any way.
                    <br>Every row of data is probably wrong as I have no idea what I am doing.
                    Please do not sue me, this was a fun project I did to practice developing web-apps. Nothing on this
                    site should be in any way construed as a recommendation to buy or sell any security. Or do anything whatsoever.

				</div>
			</div>
		</div>
	</body>
</html>