{% extends 'base.html' %}

{% block content %}

    {% from "_formhelpers.html" import render_field %}
    <div class= "col-sm-6">
        <h3>Change password</h3>
        <form action="{{ url_for('change_password') }}" method=post class="form-group">
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.password) }}
                {{ render_field(form.new_password) }}
                {{ render_field(form.confirm) }}
            </dl>

            <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
