<html lang="en">
<h2>Good morning {{user_name}}</h2>
    <table cellpadding="10">
        <tr>
            <th>Symbol</th>
            <th>Rebate</th>
            <th>Fee</th>
            <th>Availability</th>
            <th>Timestamp</th>
        </tr>

         {% for symbol in summary %}
            <tr>
                <td>{{symbol['symbol']}}</td>
                <td>{{ '{:.1%}'.format(symbol['rebate']/100) }}</td>
                <td>{{ '{:.1%}'.format(symbol['fee']/100) }}</td>
                <td>{{ '{:,}'.format(symbol['available']) }}</td>
                <td>{{symbol['datetime']}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="http://ec2-52-27-34-15.us-west-2.compute.amazonaws.com/">I Borrow Desk</a>

</html>