<html lang="en">
<h2>Good morning {{user_name}}</h2>
    <table cellpadding="10">
        <tr>
            <th>Symbol</th>
            <th>Rebate</th>
            <th>Fee</th>
            <th>Availability</th>
            <th>Timestamp</th>
        </tr>
        {% for stock in summary %}
            <tr>
                <td>{{ stock[0] }}</td>
                <td>{{ '{:.1%}'.format(stock[1]/100) }}</td>
                <td>{{ '{:.1%}'.format(stock[2]/100) }}</td>
                <td>{{ '{:,}'.format(stock[3]) }}</td>
                <td>{{stock[4]}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="http://ec2-52-27-34-15.us-west-2.compute.amazonaws.com/">I Borrow Desk</a>

</html>