{% extends 'base.html' %}

{% block content %}


    <div class= "col-md-12">
        <h2>FAQ</h2>
        <p><strong>Who are you?</strong> I worked in finance in Toronto until earlier this year. I am attempting to
        switch careers into software development and this web-app is my first 'product'. Please be patient as I've only
        been doing this for a couple of months (since May '15)!</p>

        <p><strong>What exactly does this thing do?</strong> Downloads a series of csv files from the Interactive Broker's
        FTP site, chucks everything into a postgreSQL database and displays it on your screen.</p>

        <p><strong>What are the benefits of registering?</strong> Registered users can create a watchlist
        of symbols (similar format to the front page) to track stocks they are interested in. Every weekday morning,
        (if you like) you will receive an email summarizing the current rates and availability for the symbols
            on your watch list.
        In the future I hope to add some alerts for big changes in availability/rates, or manually set thresholds.</p>

        <p><strong>What is the ticker structure?</strong> I'm currently tracking Interactive Broker's worldwide database
        which includes: Australia, Austria, Belgium, UK, Canada, Netherlands, France, Germany, Hong Kong, India, Italy,
            Japan, Mexico, Spain, Sweden, Switzerland, and the USA. US tickers do not have a suffix, while all other
        countries do (in the form: <a href="{{url_for('historical_report')}}?symbol=ABX.CA&&real_time=True">ABX.CA</a>
            - Barrick Gold) I have tried to match country codes based on
            <a href="http://risk101.com/reference/Techdoc-Bloomberg_country_codes.pdf">Bloomberg's</a> methodology. Let me know
        if you spot any errors.</p>

        <p><strong>How often is the database updated?</strong> Every 15 minutes around trading hours on weekdays (so almost
            24 hours a day given the global scope within a minute of IB refreshing on their end.</p>

        <p><strong>How far back does the data go?</strong> Historical data (one row/day) will be retained indefinitely
            and 'real-time' (every 15 minutes) data is retained for one week.</p>
    </div>

{% endblock %}
