{% extends 'base.html' %}

{% block content %}

    <div class= "col-sm-9">
        {% if current_user.is_authenticated() %}
            YOU ARE LOGGED IN WITH USERNAME: {{current_user.username}}
        {% endif %}


        {% from "_formhelpers.html" import render_field %}

        <h3>Database Search</h3>
        <form action="/filter" method=post class="form-group">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-4">
                    {{ form.min_available(class='form-control') }} {{ form.min_available.description }}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form.max_available(class='form-control') }} {{ form.max_available.description }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.min_fee(class='form-control') }} {{ form.min_fee.description }}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form.max_fee(class='form-control') }} {{ form.max_fee.description }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn btn-success">Submit</button> Maximum 100 results returned
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                     {{ render_field(form.order_by) }}
                </div>
            </div>

        </form>

         <table class="table table-condensed table-responsive table-hover ">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Rebate</th>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                {% for symbol in summary %}
                    <tr>
                        <td>
                        <a href="{{url_for('historical_report')}}?symbol={{symbol['symbol']}}&&real_time=False"> {{symbol['symbol']}}</a></td>
                        <td>{{ symbol['name'] }}</td>
                        <td>{{ '{:.1%}'.format(symbol['rebate']/100) }}</td>
                        <td>{{ '{:.1%}'.format(symbol['fee']/100) }}</td>
                        <td>{{ '{:,}'.format(symbol['available']) }}</td>
                        <td>{{symbol['datetime']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
