{% extends 'base.html' %}

{% block content %}
	<div class= "col-md-2"></div>
    <div class="col-md-8">
         {% if summary != None %}
            <h3>{{name}} - {{ symbol }} - <a href=" {{ url_for('add_to_watchlist', symbol=symbol) }}">Add to Watchlist</a></h3>
             <table class="table table-condensed table-responsive">

                <tr>
                    <th>Rebate</th>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Timestamp (EST) </th>
                 </tr>

            {% for stock in summary %}
            <tr>
                <td>{{ '{:.1%}'.format(stock[0]/100) }}</td>
                <td>{{ '{:.1%}'.format(stock[1]/100) }}</td>
                <td>{{ '{:,}'.format(stock[2]) }}</td>
                <td>{{stock[3]}}</td>

            </tr>
            {% endfor %}
         </table>
       {% endif %}

	</div>
    <div class= "col-md-2"></div>

{% endblock %}
