{% extends 'base.html' %}

{% block content %}



	<div class= "col-md-2"></div>
    <div class="col-md-8">

         {% if summary != None %}
            <h3>{{name}} - {{ symbol }} {% if real_time %}
                <a class="btn btn-success btn-sm"
                   href="{{ url_for('historical_report', symbol=symbol, real_time=False) }}">Historical</a>
                <a class="btn btn-success active btn-sm"
                   href="{{ url_for('historical_report', symbol=symbol, real_time=True) }}">Real-time</a>
            {% else %}
                <a class="btn btn-success active btn-sm"
                   href="{{ url_for('historical_report', symbol=symbol, real_time=False) }}">Historical</a>
                <a class="btn btn-success btn-sm"
                   href="{{ url_for('historical_report', symbol=symbol, real_time=True) }}">Real-time</a>
            {% endif %}
                </h3>
            <h4><a href=" {{ url_for('add_to_watchlist', symbol=symbol) }}">Add to Watchlist</a></h4>


            <svg id="chartContainer" width="600" height="400"></svg>

            <table class="table table-condensed table-responsive">
                <tr>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Time (EST) </th>
                 </tr>

                {% for stock in summary %}
                    <tr>
                        <td>{{ '{:.1%}'.format(stock['fee']) }}</td>
                        <td>{{ '{:,}'.format(stock['available']) }}</td>
                        <td>{{stock['time']|replace('T', ' ')}}</td>
                    </tr>
                {% endfor %}
            </table>
       {% endif %}

	</div>
    <div class= "col-md-2"></div>

    <script>

    var svg = dimple.newSvg("#chartContainer", 600, 400);

    if ("{{ real_time }}" === "False") {
        var format_string = "%Y-%m-%d";
        var display_string = "%Y-%m-%d";
        var order_rule = "Date";
    } else {
        var format_string = "%Y-%m-%dT%H:%M:%S";
        var display_string = "%m-%d %H:%M";
        var order_rule = "Time";
    }

    d3.json($SCRIPT_ROOT + '/_json_historical_report' + "?symbol={{ symbol }}" + "&&real_time={{ real_time }}",
            function (data) {
                var myChart = new dimple.chart(svg, data['data']);
                myChart.setMargins("60px", "30px", "80px", "80px");
                var x = myChart.addTimeAxis("x", "time", format_string, display_string);

                x.addOrderRule(order_rule);
                var y1 = myChart.addMeasureAxis("y", "available");
                var y2 = myChart.addMeasureAxis("y", "fee");
                y2.tickFormat = ".1%";

                var s1 = myChart.addSeries(null, dimple.plot.bar, [x, y1], stacked = false);
                var s2 = myChart.addSeries(null, dimple.plot.line, [x, y2]);

                s2.title = "Fee";
                myChart.title = "{{ symbol }}";

                myChart.draw();
            });
    </script>

{% endblock %}
