{% extends 'base.html' %}

{% block content %}

<script>
    $(document).ready(function()
    {
        $("#stocks").tablesorter({
            headers: {
                6: {
                    sorter: false
                },
                7: {
                    sorter: false
                }
            }
        });
    });


</script>


		<div class= "col-md-12">
			<h2>Welcome to IBorrow Desk. Currently tracking {{ number_of_symbols }} symbols. </h2>

            <p>If you haven't already, please consider <a href=" {{ url_for('register') }} ">registering</a>! Registered users
            can maintain a <a href="{{ url_for('static', filename='watchlist_screenshot.png') }}">watchlist</a>,
                and receive (optional) morning updates. I'll also really appreciate it!</p>

            <p><strong>America's most expensive borrows:</strong></p>
             <table class="tablesorter table table-condensed table-responsive table-hover" id="stocks">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Rebate</th>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Timestamp (EST)</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                {% for symbol in summary %}
                    <tr>
                        <td>
                        <a href="{{url_for('historical_report')}}?symbol={{symbol['symbol']}}&&real_time=True"> {{symbol['symbol']}}</a></td>
                         <td>{{ symbol['name'] }}</td>
                        <td>{{ '{:.1%}'.format(symbol['rebate']/100) }}</td>
                        <td>{{ '{:.1%}'.format(symbol['fee']/100) }}</td>
                        <td>{{ '{:,}'.format(symbol['available']) }}</td>
                        <td>{{symbol['datetime']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
		</div>

{% endblock %}
