{% extends 'base.html' %}

{% block content %}


		<div class= "col-sm-9">
			{% if current_user.is_authenticated() %}
				YOU ARE LOGGED IN AS {{ current_user.username }} <br>
        	{% endif %}
			<br>
			<h4>Welcome to I Borrow Desk. Currently tracking {{ number_of_symbols }} symbols. </h4>
            <p>Refresh the page to see 15 more random ones!</p>
             <table class="table table-condensed table-responsive table-hover ">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Rebate</th>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                {% for stock in summary %}
                    <tr>
                        <td>
                        <a href="{{url_for('historical_report')}}?symbol={{stock}}&&real_time=False"> {{stock}}</a></td>
                        <td>{{ '{:.1%}'.format(summary[stock]['rebate']/100) }}</td>
                        <td>{{ '{:.1%}'.format(summary[stock]['fee']/100) }}</td>
                        <td>{{ '{:,}'.format(summary[stock]['available']) }}</td>
                        <td>{{summary[stock]['datetime']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
		</div>

{% endblock %}
