{% extends 'base.html' %}

{% block content %}

<script>
    $(document).ready(function()
    {
        $("#stocks").tablesorter({
                    headers: {
                        4: {
                            sorter:'thousands'
                        }
                    }
                }
        );
    });

// add parser through the tablesorter addParser method
$.tablesorter.addParser({
    // set a unique id
    id: 'thousands',
    is: function(s) {
        // return false so this parser is not auto detected
        return false;
    },
    format: function(s) {
        // format your data for normalization
        return s.replace('$','').replace(/,/g,'');
    },
    // set type, either numeric or text
    type: 'numeric'
});

</script>


		<div class= "col-md-12">
			<h2>Name Search</h2>

            <form class="form-inline"  role="form" action= "" method = 'GET'>
            <div class="form-group">
                <label class="control-label" for="name">Name:</label>
                <input class = "form-control" type = 'text' id = 'name' name = 'name' placeholder = 'Bank of America' value='{{ name }}'>

                <button type='submit' class="btn btn-success">Submit</button>
            </div>
        </form>
            <br><br>

            {% if summary %}
                 <table class="tablesorter table table-condensed table-responsive table-hover" id="stocks">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Fee</th>
                            <th>Availability</th>
                            <th>Timestamp (EST)</th>
                        </tr>
                    </thead>
                     <tbody data-link="row" class="rowlink">
                        {% for symbol in summary %}
                            <tr>
                                <td>
                                <a href="{{url_for('historical_report')}}?symbol={{symbol['symbol']}}&&real_time=True"> {{symbol['symbol']}}</a></td>
                                 <td>{{ symbol['name'] }}</td>
                                <td>{{ '{:.1%}'.format(symbol['fee']/100) }}</td>
                                <td>{{ '{:,}'.format(symbol['available']) }}</td>
                                <td>{{symbol['datetime']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
             <h3>No matches found.</h3>
            {% endif %}
		</div>

{% endblock %}