{% extends 'base.html' %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}


    <div class= "col-sm-9">
        <p>Hi {{current_user.username}}!</p>

        {% if current_user.receive_email == True %}
            You are receiving a morning email.<br>
            <a href="{{ url_for('change_morning_email') }}?receive=False">Click here if you'd like to stop receiving these emails</a>
        {% else %}
            Not receiving a morning email at the moment.<br>
            <a href="{{ url_for('change_morning_email') }}?receive=True">Click here if you'd like to start receiving these emails</a>
        {% endif %}
        <table class="table table-condensed table-responsive table-hover ">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Rebate</th>
                    <th>Fee</th>
                    <th>Availability</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                {% for symbol in summary %}
                    <tr>
                        <td>
                        <a href="{{url_for('historical_report')}}?symbol={{symbol['symbol']}}&&real_time=True"> {{symbol['symbol']}}</a></td>
                        <td>{{ '{:.1%}'.format(symbol['rebate']/100) }}</td>
                        <td>{{ '{:.1%}'.format(symbol['fee']/100) }}</td>
                        <td>{{ '{:,}'.format(symbol['available']) }}</td>
                        <td>{{symbol['datetime']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form role="form" action= "" method = 'POST'>
            <div class="form-group">
                <label for="symbols">Add symbols to Watch list</label>
                <input class = "form-control" type = 'text' id = 'symbols' name = 'symbols' placeholder = 'BAC, IBM' value=''>
            </div>

            <div class="form-group">
                <label for="remove-symbols">Remove symbols from Watch list</label>
                <input class = "form-control" type = 'text' id = 'remove-symbols' name = 'remove-symbols' placeholder = 'BAC, IBM' value=''>
            </div>

            <button type='submit' class="btn btn-default">Submit</button>
        </form>



    </div>

{% endblock %}
