.flash {
	color: white;
	background-color: grey;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 20px;
}

.title-super {
	font-size: 60px;
}

.page-footer {
  padding-top: 9px;
  margin: 20px 0 10px;
  border-top: 1px solid #eeeeee;
}

.container {
	background-color: #EFF;
}