<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='jasny-bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>IB Borrow Desk</title>
		{% block head %}
		{% endblock %}
	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
		<script src="{{ url_for('static', filename='jasny-bootstrap.min.js')}}"></script><div class = "container">
			<div class="row page-header">
				<div class="col-sm-6">
					<h1><a href = "{{url_for('mainPage')}}">I Borrow Desk</a></h1>
				</div>

				<div class="col-sm-6 text-right">
					{% if 'username' not in login_session %}
						<a href='{{url_for('showLogin')}}'>Login</a>
					{% else %}
						<a href='{{url_for('gDisconnect')}}'>Logout</a>
					{% endif %}
				</div>
			</div>

			<div class = "row">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div class = "col-sm-12 text-center flash">
							<ul>
								{% for message in messages %}
									<strong> {{message}} </strong><br>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
				{%endwith %}
			</div>

            <div class= "row">
		        <div class= "col-sm-3">
			        <a href="{{url_for('watchList')}}">Watchlist</a><br>
                    <a href="{{url_for('historical_report')}}?symbol=&&real_time=">Historical Report</a>
		        </div>
                {% block content %}
                {% endblock %}

            </div>

            <div class="row page-footer">
				<div class="col-sm-12 text-center">
					This toy webapp is not affiliated with Interactive Brokers in any way.
				</div>
			</div>
		</div>
	</body>
</html>