{% extends 'base.html' %}

{% block content %}



		<div class= "col-sm-9">
			{% if logged_in == True %}
				YOU ARE LOGGED IN WITH USER ID: {{login_session['user_id']}}
			{% endif %}

            <div class ="row">
                <form role="form" action= "" method = 'POST' class="form-inline">
                    <div class="form-group">
                        <label for="symbol">Symbol</label>
                        <input class = "form-control" type = 'text' id = 'symbol' name = 'symbol' value=''>
                    </div>

                    <button type='submit' class="btn btn-default">Submit</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
             {% if summary != None %}
                <h3>{{name}}</h3>
                 <table class="table table-condensed table-responsive">

                    <tr>
                        <th>Rebate</th>
                        <th>Fee</th>
                        <th>Availablility</th>
                        <th>Timestamp</th>
                     </tr>

                {% for stock in summary %}
                <tr>
                    <td>{{ '{:.1%}'.format(stock[0]/100) }}</td>
                    <td>{{ '{:.1%}'.format(stock[1]/100) }}</td>
                    <td>{{ '{:,}'.format(stock[2]) }}</td>
                    <td>{{stock[3]}}</td>

                </tr>
                {% endfor %}
             </table>
           {% endif %}

		</div>

{% endblock %}
