{% extends 'base.html' %}

{% block content %}



		<div class= "col-sm-9">
			{% if logged_in == True %}
				YOU ARE LOGGED IN WITH USER ID: {{login_session['user_id']}}
			{% endif %}
            <table class="table table-condensed table-responsive table-hover ">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Rebate</th>
                        <th>Fee</th>
                        <th>Availablility</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for stock in summary %}
                        <tr>
                            <td>
                            <a href="{{url_for('historical_report', symbol = stock[0])}}"> {{stock[0]}}</a></td>
                            <td>{{ '{:.1%}'.format(stock[1]/100) }}</td>
                            <td>{{ '{:.1%}'.format(stock[2]/100) }}</td>
                            <td>{{ '{:,}'.format(stock[3]) }}</td>
                            <td>{{stock[4]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form role="form" action= "" method = 'POST'>
				<div class="form-group">
					<label for="symbols">Add symbols to Watch list</label>
					<input class = "form-control" type = 'text' id = 'symbols' name = 'symbols' placeholder = 'BAC, IBM' value=''>
				</div>

				<div class="form-group">
					<label for="remove-symbols">Remove symbols from Watch list</label>
					<input class = "form-control" type = 'text' id = 'remove-symbols' name = 'remove-symbols' placeholder = 'BAC, IBM' value=''>
				</div>

				<button type='submit' class="btn btn-default">Submit</button>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			</form>

		</div>

{% endblock %}
