{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block content %}
  <div class= "col-sm-6">

     <form action="" method=post class="form-horizontal">
        <h3>Signin to I Borrow Desk </h3>
        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control"
                placeholder="Enter Username" required>
        </div>

        <div class="form-group">
              <input type="password" id="password" name="password" class="form-control"
                placeholder="Enter Password" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Signin</button>
        </div>
     </form>
  </div>
{% endblock %}